body {
    margin: 0;
    padding: 0;

}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

/* 버튼 클릭 창에 대한 스타일 */
#buttonZone {
    position: absolute;
    top: 150px;
    right: 10px;
    display: flex;
    flex-direction: column;
}

#buttonZone button {
    padding: 10px 15px;
    /* border: none; */
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 10px;
}

#chatZone {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 25%; /* Adjust the width as needed */
    height: 30%;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

/* 메시지 창에 대한 스타일 */
#chatZone h2 {
    font-size: 20px; /* Increase font size */
    margin-bottom: 10px; /* Increase margin for spacing */
    color: #333; /* Change the text color */
    text-align: center;

}

#chatDisplay {
    height: 60%; /* Adjust the height as needed */
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
}

#chatInputDiv {
    height: 5%;
    display: flex;
    align-items: center; /* Vertically center the input and button */
}

#chatInput {
    flex: 2; /* Expand the input field to take available space */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 10px;
    margin-right: 5px;
}

#messageSend {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}